* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-attachment: fixed;
  background-position: 80%;
  background-size: cover;
  background-position: center;
  padding: 20px 35px;
  background-color: #3d3d3d;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: #70c8fc;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: #70c8fc;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
  background-image: url(../images/sis.jpg);
  background-color: rgb(43, 43, 43);
  height: 150px;
  position: relative;
  display: flex;
}

.hero-wording {
  color: #70c8fc;
  padding-right: 30px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.container {
  display: flex;
  height: 300px;
}

.header-text {
  background-color: #3d3d3d;
  color: #70c8fc;
  display: flex;
  font-weight: bold;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #70c8fc;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

.text {
  background-color: #3d3d3d;
  color: #70c8fc;
  padding-left: 10px;
  display: flex;
  flex: 3;
  align-items: center;  
}

.contact {
  width: 50%;
  
}

.contact ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact ul li {
  list-style: none;
}

.contact ul li a {
  text-decoration: none
}

.main-container {
  border-top: 2px solid #70c8fc;
}
